<launch>

    <arg name="scan_topic" default="$(eval optenv('JACKAL_LASER_TOPIC', 'front/scan'))" />
    <arg name="use_map_topic" default="false"/>
    <arg name="map_file" default="$(find one_jackal)/maps/mymap.yaml"/>
    <arg name="mode" default="true"/>
    <arg name="node_start_delay" default="2.0" />  

    <!--- Run Rviz-->
    <param name="use_gui" value="true"/>
    <arg name="config" default="gmapping" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_viz)/rviz/$(arg config).rviz" />

    <group if="$(arg mode)">
    <!-- Run the map server -->
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    <!--- Run AMCL -->
        <include file="$(find jackal_navigation)/launch/include/amcl.launch">
            <arg name="use_map_topic" value="$(arg use_map_topic)" />
            <arg name="scan_topic"    value="$(arg scan_topic)" />
        </include>

    <!--- Run Move Base -->
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <param name="controller_frequency" value="20.0"/>
            <param name="controller_patiente" value="15.0"/>

            <rosparam file="$(find jackal_navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find jackal_navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        
            <rosparam file="$(find jackal_navigation)/params/map_nav_params/local_costmap_params.yaml" command="load" />
            <rosparam file="$(find jackal_navigation)/params/map_nav_params/global_costmap_params.yaml" command="load" />
        
            <rosparam file="$(find jackal_navigation)/params/base_local_planner_params.yaml" command="load" />
            <rosparam file="$(find jackal_navigation)/params/move_base_params.yaml" command="load" />
        
            <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
            <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
        
            <remap from="odom" to="odometry/filtered" />
        </node>

    </group>

    <group unless="$(arg mode)">
    <!--- Run gmapping -->
        <!-- <include file="$(find jackal_navigation)/launch/include/gmapping.launch"> -->
        <include file="$(find one_jackal)/launch/gmapping.launch">
            <arg name="scan_topic"    value="$(arg scan_topic)" />
        </include>
        
    <!--- Run Move Base -->
        <include file="$(find one_jackal)/launch/move_base.launch" />
        <!-- <include file="$(find jackal_navigation)/launch/include/move_base.launch" /> -->
    <!-- Move in sequence-->
        <node pkg="one_jackal" type="move_seq.py" name="move_base_sequence" 
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " output="screen">
            <rosparam file="$(find one_jackal)/config/waypoints.yaml" command="load"/>
            <param name="robot_name" value="/"/>
        </node>    
    </group>
</launch>