<launch>
    <group ns="j2">
    <node pkg="one_jackal" type="decision.py" name="decision" output="screen">
        <param name="robot_name" value="j2"/>

    <!-- Square map -->
        <param name="j1x" value="-4.5"/>
        <param name="j1y" value="4"/>
        <param name="j2x" value="3.5"/>
        <param name="j2y" value="-8.5"/>

    <!-- Jackal Race -->
        <!-- <param name="j1x" value="0" />
        <param name="j1y" value="-4" />
        <param name="j2x" value="8" />
        <param name="j2y" value="-9" />   -->

    <!-- upson map -->
        <!-- <param name="j1x" value="-8" />
        <param name="j1y" value="5.5" />
        <param name="j2x" value="2.5" />
        <param name="j2y" value="-9" />   -->
    </node>    
    </group>

    <!-- <group ns="j1">
    <node pkg="one_jackal" type="decision.py" name="decision" output="screen">
        <param name="robot_name" value="j1"/>
        <param name="initX" value="0"/>
        <param name="initY" value="-4"/>
    </node>    
    </group> -->

</launch>