<launch>
    <group ns="j1">
    <node pkg="one_jackal" type="graph_generator_node" name="graph_generator_node" output="screen">
        <!-- launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " output="screen"> -->
        <param name="robot_name" value="j1"/>
    </node>    
    </group>

    <group ns="j2">
    <node pkg="one_jackal" type="graph_generator_node" name="graph_generator_node" output="screen">
        <param name="robot_name" value="j2"/>
    </node>    
    </group>
</launch>