<launch>
   <arg name="jackal_name" default="j1"/>
   <arg name="tfpre" default="$(arg jackal_name)" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base">

    <rosparam file="$(find test)/config/costmap_common_$(arg jackal_name).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find test)/config/costmap_common_$(arg jackal_name).yaml" command="load" ns="local_costmap" />
    
    <rosparam file="$(find test)/config/local_costmap_$(arg jackal_name).yaml" command="load" />
    <rosparam file="$(find test)/config/global_costmap_$(arg jackal_name).yaml" command="load" />
    
    <rosparam file="$(find test)/config/base_local_planner.yaml" command="load" />
    <rosparam file="$(find test)/config/move_base.yaml" command="load" />
    
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    
    <remap from="odom" to="odometry/filtered" />
  </node>

</launch>