<launch>
    <!-- <group ns="j1">
    <node pkg="one_jackal" type="move_seq.py" name="move_base_sequence" output="screen">
        <param name="robot_name" value="j1"/>
    </node>    
    </group> -->

    <group ns="j2">
    <node pkg="one_jackal" type="move_seq.py" name="move_base_sequence" output="screen">
        <param name="robot_name" value="j2"/>
    </node>    
    </group>
</launch>